body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #EDEDED;

  /* Do not change margin or padding */
  background: #cd7f32;
/* NOTE: do not change the background in media query */
font-family: 'Open Sans', helvetica, sans-serif;
/* NOTE you can change the fonts but always have a backup */
}
/* NOTE: MOBILE STYLES BELOW --------------------- */




/* NOTE do not change nav styles below without checking with April */
.mainNav {
  background: #6b4d33;
  color: #1a1b18;
  height: 60px;
  position: relative;
}
.mainNav a {
  text-decoration: none;
}
.mainNav .menu {
  background: #6b4d33;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #efefef;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*POSITION*/
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
}
.mainNav .menu a {
  color: white;
  border-bottom: 1px solid #efefef;
  font-weight: bold;
  display: block;
  padding: 15px;
}
.mainNav .menu a:hover {
  background: #965F24;
  color: silver;
}
.mainNav .navBars {
  display: inline-block;
  font-size: 1.7em;
  line-height: 1.5em;
  float: right;
  /* NOTE HAMBURGER POSITION to the right*/
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  color: #EDEDED;

  /* This is for those three line */

}
#xBxHack {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;
}
#xBxHack:checked ~ nav .menu {
  display: block;

}
.navcontainer {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}
/* NOTE: END Navigation styles --------------------- */

.wrapper{
  background: #6B4D339C;
  margin: auto;
  width:90%;
  /* Width with a margin auto keeps the content from touching the edge */
  padding: 20px;
}

.grid{
  margin: auto;
  padding-right: 30px;
}

.contactf{
  /* border: solid red; */
  padding-top: 30px;
  padding-bottom: 30px;
}

.grid div{
  padding-left: 35px;
}

img{
  /* width:100%; */
  max-width: 100%;
}
/* NOTE: All other images will need a class to style the width if you want them a diffrent size */

.img1{
  width: 800px;
}

.img2 {
  width: 500px;
}

.img3 {
  width: 640px;
}

.img4 {
  width: 450px;
}

.img5 {
  width: 600px;
  padding-top: 50px;
}

.img6 {
  width: 400px;
  height: 808px;
  padding-top: 50px;
}

.img7 {
  width: 400px;
  padding-top: 50px;
}

.img8 {
  width: 400px;
  padding-top: 50px;
}

.iframe {
  width: 300px;
  height: 300px;
}

.appreciate {
  padding-top: 70px;
  font-size: 18px;
}

.img9 {
  /* width: 400px; */
}

.email {
  text-decoration: none;
  color: #EDEDED;
  font-weight: bolder;
}

.email:hover {
  color: brown;
  background: #CD7F3A;
}

.fname{
  width: 300px;
  height: 30px;
  background: lightblue;
  border-radius: 40px;
}

/* The code above is for textboxes */

.fnamet {
  font-size: 14px;
}

/* The text of "NAME" word */

.emailt {
  font-size: 14px;
}

/* The text of "EMAIL" word */

.subjectt {
  font-size: 14px;
}

/* The text of "SUBJECT" word */

.titlet {
  font-size: 14px;
}

/* The text of "TITLE" word */


.emailb {
  /* margin-left: 34.5px; */
  width: 300px;
  height: 30px;
  border-radius: 40px;
  background: lightblue;
}

/* The code above is for textboxes */

.subject {
  /* margin-left: 20.5px; */
  width: 300px;
  height: 30px;
  border-radius: 40px;
  background: lightblue;
}

/* The code above is for textboxes */

.title {
  /* margin-left: -10px; */
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background: lightblue;
}

/* The code above is for textboxes */

.button {
  border-radius: 10px;
  background: lightblue;
  width: 90px;
  height: 40px;
  margin-left: 115px
}

.menu {
  background: #cd7f32;
  padding-left:2px;
  margin-right: 440px;
  text-align: center;
}

.menu2 {
  background: #cd7f32;
  padding-left:20px;
  margin-right: -1px;
  text-align: center;
}

.line1 {
  color: white;
  font-weight: bolder;
  font-family: sans-serif;

}

.line2 {
  color: silver;
  font-weight: bolder;
  font-family: sans-serif;
}


/* This code above is the BUTTON for my contact FORM */

.header {
  position: relative;
  text-align: center;
  color: white;
  height: 250px;
  background: url("images/c.jpg");
  overflow: hidden;
}

h1{
  text-align: center;
  padding-top: 20px;
  cursor: default;

}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Merienda', sans-serif;
  transform: translate(-50%, -50%);
}

/* ".logo" is "The Bronze Coffee Shop" on top of the page */





footer{
  background: #6b4d33;
  text-align: center;
  padding:20px;
}




/* NOTE: START MEDIUM SIZE DISPLAYS ---------------------*/
@media only screen and (min-width: 700px) {



    .medium-size{
      max-width: 700px;
    }

    .padding-top {
      padding-top: 20px;
    }



    .two-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        width: 90%;
        margin: auto;
    }
    .center-this{
        margin-right: auto;
        margin-left: auto;
        display: block;
        /* Note you can use this to center an element but you have to add a width */
    }


  .grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      width: 90%;
      margin: auto;
      padding-right: 30px;
  }

  

  .grid div{

  }

  img{
    /* width:100%; */
    max-width: 100%;
  }
  /* NOTE: All other images will need a class to style the width if you want them a diffrent size */

  .img1{
    width: 800px;
  }

  .img2 {
    width: 500px;
  }

  .img3 {
    width: 640px;
  }

  .img4 {
    width: 450px;
  }

  .img5 {
    width: 600px;
    padding-top: 50px;
  }

  .img6 {
    width: 400px;
    height: 270px;
    padding-top: 50px;
  }

  .img7 {
    width: 400px;
    padding-top: 50px;
  }

  .img8 {
    width: 400px;
    padding-top: 50px;
  }

  .iframe {
    width: 300px;
    height: 300px;
    margin-left: 50px;
  }

  .appreciate {
    padding-top: 70px;
    font-size: 18px;
    margin-left: -90px;
  }

  .img9 {
    width: 700px;
    margin-left: -50px;
  }

  .fname{
    width: 300px;
    height: 30px;
    background: lightblue;
    border-radius: 40px;
  }

  /* The code above is for textboxes */

  .fnamet {
    font-size: 14px;
  }

  /* The text of "NAME" word */

  .emailt {
    font-size: 14px;
  }

  /* The text of "EMAIL" word */

  .subjectt {
    font-size: 14px;
  }

  /* The text of "SUBJECT" word */

  .titlet {
    font-size: 14px;
  }

  /* The text of "TITLE" word */


  .emailb {
    /* margin-left: 34.5px; */
    width: 300px;
    height: 30px;
    border-radius: 40px;
    background: lightblue;
  }

  /* The code above is for textboxes */

  .subject {
    /* margin-left: 20.5px; */
    width: 300px;
    height: 30px;
    border-radius: 40px;
    background: lightblue;
  }

  /* The code above is for textboxes */

  .title {
    /* margin-left: -10px; */
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background: lightblue;
  }

  /* The code above is for textboxes */

  .button {
    border-radius: 10px;
    background: lightblue;
    width: 90px;
    height: 40px;
    margin-left: 115px
  }

  .menu {
    background: #cd7f32;
    padding-left:2px;
    margin-right: 440px;
    text-align: center;
  }

  .menu2 {
    background: #cd7f32;
    padding-left:20px;
    margin-right: -1px;
    text-align: center;
  }

  .line1 {
    color: white;
    font-weight: bolder;
    font-family: sans-serif;

  }

  .line2 {
    color: silver;
    font-weight: bolder;
    font-family: sans-serif;
  }


  /* This code above is the BUTTON for my contact FORM */



  /* NOTE Do not change nav styles below ------------without help from April*/
  .mainNav {
      overflow: hidden;
    }
    .mainNav .navBars {
      display: none;
    }
    .mainNav .navcontainer {
      padding-top: 0;
      padding-bottom: 0;
      max-width:100%;
  /* 	Add max-width:100 to counter act the styles above media query so the links could be all the way to the left or right */
    }
    .mainNav .menu {
      display: block;
      box-shadow: none;
      border: none;
      /* float:left; */
      /* NOTE LINKS POSITION to the left*/
      text-align: center;
      /* NOTE LINKS POSITION center*/
      /* float: right; */
      /* NOTE LINKS POSITION to the right*/
      position: static;
    }
    .mainNav .menu li {
      display: inline-block;
    }
    .mainNav .menu a {
      border: none;
      padding: 20px 10px;
    }
/* NOTE END nav styles --------------------------- */

}/* NOTE: DO NOT DELETE THIS LAST CURLY BRACE */
/* NOTE END MEDIUM SIZE DISPLAYS ----------------------- */



/* NOTE START LARGE SCREEN STYLES BELOW ---------------- */
@media only screen and (min-width: 1200px) {



    .wrapper{
        max-width: 1700px;
    }

    .grid{

    }
    .grid div{
      padding-left: 35px;
    }


    img{
      /* width:100%; */
      max-width: 100%;
    }
    /* NOTE: All other images will need a class to style the width if you want them a diffrent size */

    .img1{
      width: 800px;
    }

    .img2 {
      width: 500px;
    }

    .img3 {
      width: 640px;
    }

    .img4 {
      width: 450px;
    }

    .img5 {
      width: 600px;
      padding-top: 50px;
    }

    .img6 {
      width: 400px;
      height: 808px;
      padding-top: 50px;
    }

    .img7 {
      width: 400px;
      padding-top: 50px;
    }

    .img8 {
      width: 400px;
      padding-top: 50px;
    }

    .iframe {
      width: 700px;
      height: 500px;
    }

    .appreciate {
      padding-top: 70px;
      font-size: 18px;
    }

    .img9 {
      width: auto;
      margin-left: -50px;
    }

    .fname{
      width: 700px;
      height: 30px;
      background: lightblue;
      border-radius: 40px;
    }

    /* The code above is for textboxes */

    .fnamet {
      font-size: 14px;
    }

    /* The text of "NAME" word */

    .emailt {
      font-size: 14px;
    }

    /* The text of "EMAIL" word */

    .subjectt {
      font-size: 14px;
    }

    /* The text of "SUBJECT" word */

    .titlet {
      font-size: 14px;
    }

    /* The text of "TITLE" word */


    .emailb {
      /* margin-left: 34.5px; */
      width: 700px;
      height: 30px;
      border-radius: 40px;
      background: lightblue;
    }

    /* The code above is for textboxes */

    .subject {
      /* margin-left: 20.5px; */
      width: 700px;
      height: 30px;
      border-radius: 40px;
      background: lightblue;
    }

    /* The code above is for textboxes */

    .title {
      /* margin-left: -10px; */
      width: 700px;
      height: 300px;
      border-radius: 15px;
      background: lightblue;
    }

    /* The code above is for textboxes */

    .button {
      border-radius: 10px;
      background: lightblue;
      width: 90px;
      height: 40px;
      margin-left: 315px
    }

    .menu {
      background: #cd7f32;
      padding-left:2px;
      margin-right: 440px;
      text-align: center;
    }

    .menu2 {
      background: #cd7f32;
      padding-left:20px;
      margin-right: -1px;
      text-align: center;
    }

    .line1 {
      color: white;
      font-weight: bolder;
      font-family: sans-serif;

    }

    .line2 {
      color: silver;
      font-weight: bolder;
      font-family: sans-serif;
    }

    /* This code above is the BUTTON for my contact FORM */




}/* NOTE: DO NOT DELETE THIS LAST CURLY BRACE */
